{%extends "base_doctor.html" %}
{% block content %}
<section class="c__breadcrumb"></section>
<section class="s__shift-list">
    <div class="l-container-big">
        <div class="g__head">
            <h1 class="g__title">Lista dyżurów</h1>
        </div>
        <div class="l-container-small">
            <div class="shift__add-box">
                <a href="{% url 'add_doctor_shift' %}" class="g__btn shift__add-box-btn">Dodaj nowy dyżur</a>
            </div>
            <ul class="shift__list">
                {% for dsft in doctorShifts %}
                    <li class="shift__item box">
                        <div class="shift__item-content">
                            <span class="shift__date">{{dsft.date}}</span>
                            <span class="shift__type"> 
                                - {{dsft.shift.name}}
                                ({{dsft.shift.startTime}} - {{dsft.shift.endTime}})
                            </span>
                        </div>
                        <div class="shift__item-delete-box">
                            <button class="shift__item-delete-btn">
                                <a href="{% url 'remove_doctor_shift' dsft.id %}">Usuń<i class="mdi mdi-trash-can-outline"></i></a>
                            </button>
                        </div>
                    </li> 
                {% endfor %}
                {% include "pagination.html" with variable=doctorShifts %}
            </ul>
        </div>
    </div>
</section>
{% endblock content %}