{% extends 'base_doctor.html' %}
{% block content %}
<section 
    class="c__intro" 
    style="background-image: url('../../assets/img/medicines_bg.jpg');">
    <div class="intro__content">
        <h1 class="intro__title animated fadeInDown">Pacjent - Historia leków</h1>
    </div>
</section>
<section class="s__medicines-history">
    <div class="l-container-big">
        <div class="g__head"></div>
        <div class="g__patient-intro">
            <div class="g__patient-photo-wrapper">
                <div class="g__avatar-box patient__photo-box">
                    <img src="{{pet.avatar.url}}" alt="avatar" class="g__avatar-img-no-photo dog__img-no-photo">
                </div>
            </div>
            <div class="g__patient-text-wrapper">
                <div class="g__patient-text-row">
                    <span class="g__patient-text-label">Imię:</span>
                    <span class="g__patient-text-value">{{pet.name}}</span>
                </div>
                <div class="g__patient-text-row">
                    <span class="g__patient-text-label">Rasa:</span>
                    {% if pet.race %}
                    <span class="g__patient-text-value">{{pet.race}}</span>
                    {% else %}
                    <span class="g__patient-text-value">---------------</span>
                    {% endif %}
                </div>
                <div class="g__patient-text-row">
                    <span class="g__patient-text-label">Rok urodzenia:</span>
                    {% if pet.year_birth %}
                    <span class="g__patient-text-value">{{pet.year_birth}}</span>
                    {% else %}
                    <span class="g__patient-text-value">---------------</span>
                    {% endif %}
                </div>
                <div class="g__patient-text-row">
                    <span class="g__patient-text-label">Właściciel:</span>
                    {% if pet.owner.profile.name %}
                    <span class="g__patient-text-value">{{pet.owner.profile.name}}</span>
                    {% else %}
                    <span class="g__patient-text-value">{{pet.owner.profile.user.username}}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="visits__container">
            <ul class="visit__list">
                {% for treatment in treatments %}
                    {% for medicine in treatment.medicine.all%}
                    <li class="g__row-box">
                        <h2 class="g__row-box-header">
                            {{medicine.name}}
                        </h2>
                        <div class="g__row-box-content is-multiline columns">
                            <div class="g__row-box-column column is-3-desktop is-full-touch">
                                <div class="g__row-box-subheader">
                                    Start terapii:
                                </div>
                                <div class="g__row-box-desc">
                                    {{treatment.start}}
                                </div>
                            </div>
                            <div class="g__row-box-column column is-5-desktop is-full-touch">
                                <div class="g__row-box-subheader">
                                    Opis leku:
                                </div>
                                <div class="g__row-box-desc">
                                    {{medicine.description}}
                                </div>
                            </div>
                            <div class="g__row-box-column column is-4-desktop is-full-touch">
                                <div class="g__row-box-subheader">
                                    Producent:
                                </div>
                                <div class="g__row-box-desc">
                                    {{medicine.producer.name}}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                {% endfor %}
                {% if treatments.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{ treatments.previous_page_number }}">Previous</a>
                {% endif %}
                {% for num in treatments.paginator.page_range %}
                    {% if treatments.number == num %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% elif num > treatments.number|add:'-3' and num < treatments.number|add:'3' %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if treatments.has_next %}
                    <a href="?page={{ treatments.next_page_number }}">Next</a>
                    <a href="?page={{ treatments.paginator.num_pages}}">Last</a>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
<section 
    class="c__parallax" 
    style="background-image: url('../../assets/img/parallax7.jpg');">
</section>
{% endblock content %}