& {
    margin-bottom: 1.5rem;

}

.reminder__close-btn {
    font-size: 1.5rem;
    position: absolute;
    top: .1rem;
    right: .5rem;
}

.reminder {
    &__wrapper {
        position: relative;
    }

    &__content {
        @include until($desktop) {
            text-align: center;
        }
    }

    &__header {
        font-size: 1.3rem;
        font-weight: 900;
        margin-bottom: 1rem;
        // text-align: center;

        @include until($desktop) {
            text-align: center;
        }
    }
    
    &__label {
        font-weight: 700;
        font-size: 1.2rem;
        color: $main_color;
        margin-bottom: .5rem;
    }

    &__value {
        font-weight: 600;
    }
}

@include phone-until{

}

@include from($tablet) {

}

@include until($desktop) {

}

@include from($desktop) {

}

@include from($fullhd) {

}