{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="s__contact">
    <div class="l-container-big contact__container">
        <div class="contact__content">
            <div class="g__head">
                <h1 class="g__title">
                Kontakt
                </h1>
            </div>
            <div class="contact__content-box">
                <div class="contact__content-icon animated pulse">
                    <img src="{% static 'assets/svg/location.svg'%}" alt="location">
                </div>
                <div class="contact__content-text animated slideInRight">
                    ul. Nowa 100 <br>
                    00-000 Warszawa
                </div>
            </div>
            <div class="contact__content-box">
                <div class="contact__content-icon animated wobble">
                    <img src="{% static 'assets/svg/phone-call.svg'%}" alt="phone">
                </div>
                <div class="contact__content-text animated slideInRight">
                    Tel: <a href="tel:1234-567-890">1234-567-890</a>
                    <br>
                    Email: <a href="mailto:test@test.pl">test@test.pl</a>
                </div>
            </div>
            <div class="contact__map"id="map"></div>
        </div>
    </div>
</section>
{% endblock content %}