{% load static %}
<nav class="c__navigation js-navigation">
    <div class="l-container-big">
        <div class="nav__wrapper">
            <div class="nav__side-left">
                <div class="nav__logo-box">
                    <a href="{% url 'your_dogs' %}" class="">
                        <img src="{% static 'assets/svg/dog-icon.svg' %}" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="nav__side-right">
                <div class="nav__links-box">
                    <div class="nav__link-list">
                        <a href="{% url 'home' %}" class="nav__link-item">Home</a>
                        <a href="{% url 'doctors' %}" class="nav__link-item">Lekarze</a>
                        <a href="{% url 'prices' %}" class="nav__link-item">Cennik</a>
                        <a href="{% url 'contact' %}" class="nav__link-item">Kontakt</a>
                        <a href="{% url 'your_dogs' %}" class="nav__link-item">Pupile</a>
                        <a href="{% url 'owner_add_visit' %}" class="nav__link-item">Zarezerwuj wizytę</a>
                        <a href="{% url 'login_doctor' %}" class="nav__link-item">Panel Lekarza</a>
                    </div>
                </div>
                <div class="nav__account-box">
                    {% if request.user.is_authenticated %}
                    <div class="nav__account-links">
                        <a href="{% url 'update_profile' %}" class="nav__account-link-item">{{request.user.username}}</a>
                        <a href="{% url 'logout_user' %}" class="nav__account-link-item">wyloguj</a>
                    </div>
                    {% else %}
                    <div class="nav__account-links">
                        <a href="{% url 'login_user' %}" class="nav__account-link-item">zaloguj</a>
                        <a href="{% url 'register_user' %}" class="nav__account-link-item">zarejestruj</a>
                    </div>
                    {% endif %}
                </div>
                <div class="nav__mobile-menu-wrapper">
                    <div class="nav__mobile-menu-trigger">
                        <div class="nav__hamburger-box hamburger-init-hidden">
                            <div class="hamburger hamburger--spin js-menu-trigger-mobile hamburger__mobile">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="c__menu-mobile js-menu-mobile">
                        <div class="menu-mobile__container">
                            <div class="menu__page-list">
                                <a href="{% url 'home' %}" class="menu__page-link">Home</a>
                                <a href="{% url 'doctors' %}" class="menu__page-link">Lekarze</a>
                                <a href="{% url 'prices' %}" class="menu__page-link">Cennik</a>
                                <a href="{% url 'contact' %}" class="menu__page-link">Kontakt</a>
                                <a href="{% url 'your_dogs' %}" class="menu__page-link">Pupile</a>
                                <a href="{% url 'owner_add_visit' %}" class="menu__page-link">Zarezerwuj wizytę</a>
                                <a href="{% url 'login_doctor' %}" class="menu__page-link">Panel Lekarza</a>
                            </div>
                            {% if request.user.is_authenticated %}
                            <div class="menu__account-links">
                                <a href="{% url 'update_profile' %}" class="menu__page-account-link">{{request.user.username}}</a>
                                <a href="{% url 'logout_user' %}" class="menu__page-account-link">wyloguj</a>
                            </div>
                            {% else %} 
                            <div class="menu__account-links">
                                <a href="{% url 'login_user' %}" class="menu__page-account-link">zaloguj</a>
                                <a href="{% url 'register_user' %}" class="menu__page-account-link">zarejestruj</a>
                            </div>
                            {% endif %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</nav>
{% include "flash_messages.html" %}