{% extends 'base.html' %}
{% block content %}
<section class="c__breadcrumb"></section>
<section class="s__add-dog">
    <div class="l-container-big">
        <div class="g__head">
            <h1 class="g__title">Dodawanie nowego psa</h1>
        </div>
        <div class="dog__container">
            <div class="dog__wrapper is-multiline columns">
                <div class="dog__avatar column is-5-desktop is-full-touch">
                    <div class="g__avatar-box dog__photo-box">
                        <img src="../../assets/svg/dog_avatar.svg" alt="avatar" class="g__avatar-img-no-photo dog__img-no-photo">
                    </div>
                    <button class="g__btn dog__btn-change-avatar">
                        Zmień avatar
                    </button>
                </div>
                <div class="dog__form column is-7-desktop is-full-touch">
                    <form action="" class="g__form">
                        <div class="g__form-row">
                            <label class="g__form-label">Imię</label>
                            <input type="text" name="" class="g__form-input input" required>
                        </div>
                        <div class="g__form-row">
                            <label class="g__form-label">Rasa</label>
                            <input type="text" name="" class="g__form-input input" required>
                        </div>
                        <div class="g__form-row">
                            <label class="g__form-label">Rok urodzenia</label>
                            <input type="number" name="" class="g__form-input input" required>
                        </div>
                    </form>
                </div>
            </div>
            <div class="dog__bottom">
                <button class="g__btn">Dodaj</button>
            </div>
        </div>
    </div>
</section>
{% endblock content %}