{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="c__intro" style="background-image: url('/static/assets/img/diseases_bg.jpg');">
    <div class="intro__content">
        <h1 class="intro__title animated fadeInDown">Choroby</h1>
    </div>
</section>
<section class="s__diseases">
    <div class="l-container-big">
        <div class="g__head">
        </div>
        {% include "searching.html" with url_variable='diseases_history' url_variable_id=pet.id my_placeholder="Wyszukaj chorobę..." %}
        <div class="diseases__container">
            <ul class="disease__list">
                {% for treatment in treatments %}
                <li class="g__row-box">
                    <h2 class="g__row-box-header">
                        {{treatment.disease.name}}
                    </h2>
                    <div class="g__row-box-content is-multiline columns">
                        <div class="g__row-box-column column is-2-desktop is-full-touch">
                            <div class="g__row-box-subheader">
                                Start choroby: <!-- {{treatment.start|date:'Y-m-d'}} -->
                            </div>
                            <div class="g__row-box-desc">
                                {{treatment.start|date:'Y-m-d'}}
                            </div>
                        </div>
                        <div class="g__row-box-column column is-3-desktop is-full-touch">
                            <div class="g__row-box-subheader">
                                Opis choroby: <!-- {{treatment.disease.description}} -->
                            </div>
                            <div class="g__row-box-desc">
                                {{treatment.disease.description}}
                            </div>
                        </div>
                        <div class="g__row-box-column column is-2-desktop is-full-touch">
                            <div class="g__row-box-subheader">
                                Lista Leków:
                            </div>
                            <div class="g__row-box-desc">
                                {% if treatment.medicinehistory_set.all%}
                                    {% for medicinehistory in treatment.medicinehistory_set.all %}
                                        <p>{{ medicinehistory.medicine.name }}</p>
                                    {% endfor %}
                                {% else %}
                                    ------------------
                                {% endif %}
                            </div>
                        </div>
                        <div class="g__row-box-column column is-5-desktop is-full-touch">
                            <div class="g__row-box-subheader">
                                Diagnozy do choroby:
                            </div>
                            <div class="g__row-box-desc">
                                {% if treatment.diagnosis_set.all%}
                                    {% for diagnosis in treatment.diagnosis_set.all %}
                                        <p>{{diagnosis.visit.date.date }} : {{ diagnosis.description }}</p>
                                    {% endfor %}
                                {% else %}
                                    ------------------
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
                {% include "pagination.html" with variable=treatments %}
            </ul>
        </div>
    </div>
</section>
<section 
    class="c__parallax" 
    style="background-image: url('/static/assets/img/parallax2.jpg');">
</section>
{% endblock content %}