{% extends "base.html" %}
{% block content %}
<section class="c__breadcrumb"></section>
<section class="s__future-visits-pet">
    <div class="l-container-big">
        <div class="g__head">
            <h1 class="g__title">Przyszłe wizyty</h1>
        </div>
        <div class="l-container-small">
            <ul class="future-visits__list">
                {% for visit in visits %}
                <li class="future-visits__item box">
                    <div class="future-visits__item-content is-multiline columns">
                        <div class="future-visits__item-column column is-3-desktop is-full-touch">
                            <div class="g__row-box-subheader future-visits__label">Data i godzina</div>
                            <div class="g__row-box-desc future-visits__value">{{ visit.date|date:'Y-m-d H:i' }}</div>
                        </div>
                        <div class="future-visits__item-column column is-3-desktop is-full-touch">
                            <div class="g__row-box-subheader future-visits__label">Lekarz</div>
                            <div class="g__row-box-desc future-visits__value">
                                {% if visit.doctor.profile.name %} 
                                Dr. {{ visit.doctor.profile.name }} 
                                {% else %}
                                Dr. {{ visit.doctor.profile.user.username}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="future-visits__item-column column is-3-desktop is-full-touch">
                            <div class="future-visits-delete-box">
                                <button class="g__delete-btn future-visits-delete-btn">
                                    <a href="{% url 'remove_future_visit' pet.id visit.id %}">Usuń<i class="mdi mdi-trash-can-outline"></i></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>   
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock content %}