{% extends "base.html" %}
{% block content %}
<section 
    class="c__intro" 
    style="background-image: url('../../assets/img/visits_bg.jpg');">
    <div class="intro__content">
        <h1 class="intro__title animated fadeInDown">Wizyty</h1>
    </div>
</section>
<section class="s__visits">
    <div class="l-container-big">
        <div class="g__head">
        </div>
        <div class="visits__container">
            <ul class="visit__list">
                {% for visit in visits %}
                <li class="g__row-box">
                    <h2 class="g__row-box-header">
                        Wizyta:  {{ visit.date.date|date:'Y-m-d' }}  
                    </h2>
                    <div class="g__row-box-content is-multiline columns">
                        <div class="g__row-box-column column is-2-desktop is-full-touch">
                            <div class="g__row-box-subheader">
                                Prowadzący:
                            </div>
                            <div class="g__row-box-date">
                                {% if visit.doctor.profile.name %} 
                                    Dr. {{ visit.doctor.profile.name }} 
                                {% else %}
                                    Dr. {{ visit.doctor.profile.user.username}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="g__row-box-column column is-4-desktop is-full-touch">
                            <div class="g__row-box-subheader">
                                Lista Diagnoz:
                            </div>
                            <div class="g__row-box-desc">
                                {% if visit.diagnosis_set.all %}
                                    {% for diagnosis in visit.diagnosis_set.all %}
                                        {{diagnosis.description }}
                                    {% endfor %}
                                {% else %}
                                    ---------------
                                {% endif %}
                            </div>
                        </div>
                        <div class="g__row-box-column column is-2-desktop is-full-touch">
                            <div class="g__row-box-subheader">
                                Choroby:
                            </div>
                            <div class="g__row-box-desc">
                                {% if visit.diagnosis_set.all %}
                                    {% for diagnosis in visit.diagnosis_set.all %}
                                        {{diagnosis.treatment.disease.name}}
                                    {% endfor %}
                                {% else %}
                                    ---------------
                                {% endif %}
                            </div>
                        </div>
                        <div class="g__row-box-column column is-4-desktop is-full-touch">
                            <div class="g__row-box-subheader">
                                Uwagi właściciela:
                            </div>
                            <div class="g__row-box-desc">
                                {% if visit.ownerComment %}
                                    {{ visit.ownerComment }}
                                {% else %}
                                    ---------------
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
                {% if visits.has_previous or visits.has_next %}
                    {% if visits.has_previous %}
                        <a href="?page=1">First</a>
                        <a href="?page={{ visits.previous_page_number }}">Previous</a>
                    {% endif %}
                    {% for num in visits.paginator.page_range %}
                        {% if visits.number == num %}
                            <a href="?page={{ num }}">{{ num }}</a>
                        {% elif num > visits.number|add:'-3' and num < visits.number|add:'3' %}
                            <a href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if visits.has_next %}
                        <a href="?page={{ visits.next_page_number }}">Next</a>
                        <a href="?page={{ visits.paginator.num_pages}}">Last</a>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</section>
<section 
    class="c__parallax" 
    style="background-image: url('../../assets/img/parallax4.jpg');">
</section>
{% endblock content %}