{% extends 'base.html' %}
{% block content %}
<section class="c__breadcrumb"></section>
{% include 'near_visit.html' %}
<section class="s__your-dogs">
    <div class="l-container-big">
        <div class="g__head is-multiline columns">
            <div class="g__head-left column is-6-desktop is-full-touch">
                <h1 class="g__title">Twoje psy</h1>
            </div>
            <div class="g__head-right column is-6-desktop is-full-touch has-text-right">
                <a href="{% url 'add_dog' %}" class="dogs__btn-add">
                    <div class="dogs__btn-text">Dodaj nowego psa</div>
                    <div class="dogs__btn-icon">
                        <i class="mdi mdi-plus-circle-outline"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="dogs__container">
            <ul class="l-container-small dogs__wrapper">
                {% for pet in pets %}
                    <li class="dog__row box">
                        <div class="dog__content">
                            <div class="dog__wrapper is-multiline columns">
                                <div class="dog__avatar column is-3-desktop is-full-touch">
                                    <div class="g__avatar-box dog__photo-box">
                                        <img src="{{pet.avatar.url}}" alt="avatar" class="g__avatar-img-no-photo dog__img-no-photo">
                                    </div>
                                </div>
                                <div class="dog__item column is-4-desktop is-full-touch">
                                    <div class="dog__item-box">
                                        <div class="dog__item-row">
                                            <span class="dog__item-label">Imię:</span>
                                            <span class="dog__item-value">{{pet.name}}</span>
                                        </div>
                                        <div class="dog__item-row">
                                            <span class="dog__item-label">Rasa:</span>
                                            <span class="dog__item-value">{{pet.race}}</span>
                                        </div>
                                        <div class="dog__item-row">
                                            <span class="dog__item-label">Rok urodzenia:</span>
                                            <span class="dog__item-value">{{pet.year_birth}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dog__actions column is-5-desktop is-full-touch">
                                    <div class="dog__actions-btns-wrapper">
                                        <a href="{% url 'dog_visits' pet.id %}" class="dog__actions-link --red">
                                            <div class="dog__actions-link-text">WIZYTY</div>
                                            <i class="mdi mdi-calendar-month-outline"></i>
                                        </a>
                                        <a href="{% url 'dog_diseases' pet.id %}" class="dog__actions-link --blue">
                                            <div class="dog__actions-link-text">CHOROBY</div>
                                            <i class="mdi mdi-virus-outline"></i>
                                        </a>
                                        <a href="{% url 'dog_medicines' pet.id %}" class="dog__actions-link --yellow">
                                            <div class="dog__actions-link-text">LEKI</div>
                                            <i class="mdi mdi-pill"></i>
                                        </a>
                                        <a href="" class="dog__actions-link --black">
                                            <div class="dog__actions-link-text">ZAPLANUJ WIZYTĘ</div>
                                            <i class="mdi mdi-calendar-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="dog__bottom">
                                <a href="{% url 'edit_dog' pet.id %}" class="g__btn">Edytuj</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if is_paginated %}
                <div class="pagination-wrapper">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">First</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a href="?page={{ page_obj.paginator.num_pages}}">Last</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}
