&{
    padding-bottom: 2rem;
}

.medicine {
    &__label {
        font-weight: 800;
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }
}

@include phone-until{

}

@include from($tablet) {

}

@include until($desktop) {

}

@include from($desktop) {

}

@include from($fullhd) {

}