&{
    padding-bottom: 2rem;
}

.future-visits-delete-box {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@include phone-until{

}

@include from($tablet) {

}

@include until($desktop) {

}

@include from($desktop) {

}

@include from($fullhd) {

}