& {
    padding-bottom: 2rem;
}

.add__medicines-form {
    max-width: 50rem;
    margin: 0 auto;
}

@include phone-until{

}

@include from($tablet) {

}

@include until($desktop) {

}

@include from($desktop) {

}

@include from($fullhd) {

}